<a href="https://colab.research.google.com/github/AnkushJamthikar/StatisticalModeling/blob/main/(1)Univariate%26MultivariateCoxModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install lifelines

Collecting scikit-survival
  Downloading scikit-survival-0.17.0.tar.gz (2.5 MB)
     |████████████████████████████████| 2.5 MB 5.2 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: scipy!=1.3.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-survival) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from scikit-survival) (1.21.5)
Requirement already satisfied: scikit-learn<1.1,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-survival) (1.0.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from scikit-survival) (1.1.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from scikit-survival) (1.3.5)
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from scikit-survival) (2.8.1)
Requirement already satisfied: ecos in /usr/local/lib/python3.7/dist-packages (from scikit-survival) (2.0.10)
Requirement already satisfied: osqp!=0.6.0,!=0.6.1 in /usr/local/lib/python3.7/dist-packages (from scikit-survival) (0.6.2.post0)
Requirement already satisfied: qdldl in /usr/local/lib/python3.7/dist-packages (from osqp!=0.6.0,!=0.6.1->scikit-survival) (0.1.5.post0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->scikit-survival) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->scikit-survival) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->scikit-survival) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1,>=1.0.0->scikit-survival) (3.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from numexpr->scikit-survival) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->numexpr->scikit-survival) (3.0.7)
Building wheels for collected packages: scikit-survival
  Building wheel for scikit-survival (PEP 517) ... done
  Created wheel for scikit-survival: filename=scikit_survival-0.17.0-cp37-cp37m-linux_x86_64.whl size=4088323 sha256=82060060a2f0eea0ce5cef2b553ef62db400fd499128704f633279ad775237d8
  Stored in directory: /root/.cache/pip/wheels/91/c1/99/2c2faacc82ff4f89d27612b1fd905ea35aa24f6a93dd4dcc0d
Successfully built scikit-survival
Installing collected packages: scikit-survival
Successfully installed scikit-survival-0.17.0
Collecting lifelines
  Downloading lifelines-0.26.4-py3-none-any.whl (348 kB)
     |████████████████████████████████| 348 kB 5.1 MB/s
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from lifelines) (1.4.1)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from lifelines) (1.3.5)
Collecting formulaic<0.3,>=0.2.2
  Downloading formulaic-0.2.4-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.7 MB/s
Requirement already satisfied: autograd>=1.3 in /usr/local/lib/python3.7/dist-packages (from lifelines) (1.3)
Collecting autograd-gamma>=0.3
  Downloading autograd-gamma-0.5.0.tar.gz (4.0 kB)
Requirement already satisfied: matplotlib>=3.0 in /usr/local/lib/python3.7/dist-packages (from lifelines) (3.2.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from lifelines) (1.21.5)
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd>=1.3->lifelines) (0.16.0)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines) (0.8.1)
Collecting interface-meta>=1.2
  Downloading interface_meta-1.2.4-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from formulaic<0.3,>=0.2.2->lifelines) (1.13.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->lifelines) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0->lifelines) (1.15.0)
Building wheels for collected packages: autograd-gamma
  Building wheel for autograd-gamma (setup.py) ... done
  Created wheel for autograd-gamma: filename=autograd_gamma-0.5.0-py3-none-any.whl size=4048 sha256=e18f0cddc119a6bb1099e281fe20ad54dcb015adc49ca07d92232ed1b36b9736
  Stored in directory: /root/.cache/pip/wheels/9f/01/ee/1331593abb5725ff7d8c1333aee93a50a1c29d6ddda9665c9f
Successfully built autograd-gamma
Installing collected packages: interface-meta, formulaic, autograd-gamma, lifelines
Successfully installed autograd-gamma-0.5.0 formulaic-0.2.4 interface-meta-1.2.4 lifelines-0.26.4

In [ ]:
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn_pandas import DataFrameMapper

import joblib

In [ ]:
MTDD_TrainingData = pd.read_excel('/content/MTDD_TrainingDb.xlsx')
MTDD_TestingData  = pd.read_excel('/content/MTDD_TestingDb.xlsx')
MTDD_TrainingData.head()

   Row_ID  Region  ...  1 probability 2 probability
0       2       1  ...        0.98608       0.01392
1       3       1  ...        0.96694       0.03306
2       6       1  ...        0.99902       0.00098
3       7       1  ...        0.99939       0.00061
4      10       1  ...        0.55735       0.44265

[5 rows x 60 columns]

In [ ]:
MTDD_TestingData.head()

   Row_ID  Region  ...  1 probability 2 probability
0       1       1  ...        0.96557       0.03443
1       5       1  ...        0.99977       0.00023
2       8       1  ...        0.99307       0.00693
3      18       1  ...        0.99932       0.00068
4      47       1  ...        0.86290       0.13710

[5 rows x 60 columns]

# Functions for Confidence Intervals of C-index

In [ ]:
def score_stat_ci(
    X,
    score_fun,
    stat_fun=np.mean,
    n_bootstraps=2000,
    confidence_level=0.95,
    seed=None,
    reject_one_class_samples=True,
    ):
       
    np.random.seed(seed)
    
    scores = []
    for i in range(n_bootstraps):
        indices   = np.random.randint(0, len(X), len(X))  
        Sampled_X = X.iloc[indices,:]
        scores.append(score_fun(Sampled_X, scoring_method = 'concordance_index'))
    
    mean_score = np.mean(scores)
    sorted_scores = np.array(sorted(scores))
    alpha = (1.0 - confidence_level) / 2.0
    ci_lower = sorted_scores[int(round(alpha * len(sorted_scores)))]
    ci_upper = sorted_scores[int(round((1.0 - alpha) * len(sorted_scores)))]
    return mean_score, ci_lower, ci_upper, scores
    
    

def score_ci(X,
    score_fun,
    n_bootstraps=1000,
    confidence_level=0.95,
    seed=None,
    reject_one_class_samples=True):
       
    score = score_fun(X, scoring_method = 'concordance_index')
    
    _, ci_lower, ci_upper, scores = score_stat_ci(
    X=X,
    score_fun=score_fun,
    n_bootstraps=n_bootstraps,
    confidence_level=confidence_level,
    seed=seed,
    reject_one_class_samples=reject_one_class_samples,
    )
    
    return score, ci_lower, ci_upper, scores

# Using lifelines package

### Univariate Cox Proportional Hazard Analysis

In [ ]:
from lifelines import CoxPHFitter

In [ ]:
def function_train_CoxModel(TrainingData, Time, Event):

  trained_model     = CoxPHFitter().fit(TrainingData, Time, Event)
  c_index_training  = trained_model.score(TrainingData, scoring_method = 'concordance_index')
  model_summary     = trained_model.summary  

  return trained_model, c_index_training, model_summary

def function_test_CoxModel(Trained_CoxModel, TestingData):
  c_index               = Trained_CoxModel.score(TestingData, scoring_method = 'concordance_index')
  _, lower, upper, _    = score_ci(TestingData, Trained_CoxModel.score)
  c_index_df            = pd.DataFrame([[c_index, lower, upper]]).round(decimals = 2)  
  return c_index_df

In [ ]:
#FeaturesForUnivariateAnalysis = ["2 probability", "AGE", "GENDER"] 
FeaturesForUnivariateAnalysis = ["AGE", "GENDER", "EF_orig", "E_orig", "E_A_orig", "A_orig", "e_prime_orig", "E_e_prime_orig", "TRV_orig", "LAVi_orig", "LVMi_orig", "2 probability"]

In [ ]:
univariate_c_index      = list()
univariate_modelsummary = list()

for feature in FeaturesForUnivariateAnalysis:
  ColumnsToBeUsed   = [feature, "Composite_Event", "Time_To_CompositeEvent"]
  E                 = ColumnsToBeUsed[-2]
  T                 = ColumnsToBeUsed[-1]

  TrainingData      = MTDD_TrainingData[ColumnsToBeUsed]
  TrainingData      = TrainingData.fillna(TrainingData.median())

  TestingData       = MTDD_TestingData[ColumnsToBeUsed]
  TestingData       = TestingData.fillna(TestingData.median())

  trained_model, c_index_training, model_summary \
                    = function_train_CoxModel(TrainingData, T, E)                    
  c_index_df        = function_test_CoxModel(trained_model, TestingData)  
  
  univariate_modelsummary.append(model_summary)
  univariate_c_index.append(c_index_df)

univariate_model_summary_df = pd.concat(univariate_modelsummary)
univariate_c_index          = pd.concat(univariate_c_index)
univariate_c_index.columns  = ["C-index", "95% lowerCI", "95% upper CI"]

univariate_model_summary_df = pd.concat([univariate_c_index.reset_index(drop=True), univariate_model_summary_df.reset_index(drop=True)], axis=1)
univariate_model_summary_df.index = FeaturesForUnivariateAnalysis
univariate_model_summary_df

/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")
/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")

                C-index  95% lowerCI  ...             p   -log2(p)
AGE                0.76         0.68  ...  2.796746e-12  38.379388
GENDER             0.51         0.42  ...  8.326855e-04  10.229941
EF_orig            0.54         0.41  ...  9.964847e-08  23.258577
E_orig             0.71         0.62  ...  4.548874e-10  31.033771
E_A_orig           0.49         0.36  ...  1.800605e-03   9.117302
A_orig             0.60         0.49  ...  6.916937e-05  13.819507
e_prime_orig       0.72         0.64  ...  5.660905e-11  34.040176
E_e_prime_orig     0.79         0.72  ...  9.010915e-19  59.944960
TRV_orig           0.67         0.57  ...  1.480042e-06  19.365930
LAVi_orig          0.77         0.69  ...  3.050218e-16  51.541937
LVMi_orig          0.76         0.68  ...  2.933295e-18  58.242183
2 probability      0.81         0.75  ...  6.431787e-14  43.821774

[12 rows x 13 columns]

In [ ]:
univariate_model_summary_df.to_excel('UnivariateCoxModel.xlsx')

In [ ]:
# Select only those predictor with p<0.05 i.e. significant
univariate_model_summary_df.loc[univariate_model_summary_df['p']<0.05]

                C-index  95% lowerCI  ...             p   -log2(p)
AGE                0.76         0.68  ...  2.796746e-12  38.379388
GENDER             0.51         0.42  ...  8.326855e-04  10.229941
EF_orig            0.54         0.41  ...  9.964847e-08  23.258577
E_orig             0.71         0.62  ...  4.548874e-10  31.033771
E_A_orig           0.49         0.36  ...  1.800605e-03   9.117302
A_orig             0.60         0.49  ...  6.916937e-05  13.819507
e_prime_orig       0.72         0.64  ...  5.660905e-11  34.040176
E_e_prime_orig     0.79         0.72  ...  9.010915e-19  59.944960
TRV_orig           0.67         0.57  ...  1.480042e-06  19.365930
LAVi_orig          0.77         0.69  ...  3.050218e-16  51.541937
LVMi_orig          0.76         0.68  ...  2.933295e-18  58.242183
2 probability      0.81         0.75  ...  6.431787e-14  43.821774

[12 rows x 13 columns]

### Multivariate Cox Proportional Hazard Analysis

In [ ]:
FeaturesForMultivariateAnalysis = univariate_model_summary_df.index.to_list()

ColumnsToBeUsed   = FeaturesForMultivariateAnalysis + ["Composite_Event", "Time_To_CompositeEvent"]
E                 = ColumnsToBeUsed[-2]
T                 = ColumnsToBeUsed[-1]

In [ ]:
TrainingData      = MTDD_TrainingData[ColumnsToBeUsed]
TrainingData      = TrainingData.fillna(TrainingData.median())

TestingData       = MTDD_TestingData[ColumnsToBeUsed]
TestingData       = TestingData.fillna(TestingData.median())

trained_model, c_index_training, model_summary \
                  = function_train_CoxModel(TrainingData, T, E)                    
c_index_df        = function_test_CoxModel(trained_model, TestingData)  

MultiVariateCox = model_summary
MultiVariateCox.to_excel('MultiVariateCox.xlsx')
MultiVariateCox

/usr/local/lib/python3.7/dist-packages/lifelines/utils/__init__.py:936: UserWarning: DataFrame Index is not unique, defaulting to incrementing index instead.
  warnings.warn("DataFrame Index is not unique, defaulting to incrementing index instead.")

                    coef  exp(coef)  se(coef)  ...         z         p  -log2(p)
covariate                                      ...
AGE             0.019561   1.019753  0.006440  ...  3.037275  0.002387  8.710418
GENDER          0.155249   1.167949  0.182620  ...  0.850122  0.395257  1.339137
EF_orig        -0.018059   0.982103  0.007093  ... -2.545841  0.010901  6.519332
E_orig         -0.109925   0.895901  0.618130  ... -0.177835  0.858852  0.219518
E_A_orig        0.361656   1.435705  0.237888  ...  1.520277  0.128441  2.960818
A_orig          0.886391   2.426358  0.483997  ...  1.831398  0.067041  3.898808
e_prime_orig    0.020429   1.020639  0.080654  ...  0.253290  0.800044  0.321848
E_e_prime_orig  0.000765   1.000766  0.019897  ...  0.038465  0.969317  0.044959
TRV_orig        0.066456   1.068714  0.133520  ...  0.497722  0.618680  0.692735
LAVi_orig       0.005490   1.005505  0.005538  ...  0.991482  0.321450  1.637332
LVMi_orig       0.006935   1.006959  0.002385  ...  2.907903  0.003639  8.102395
2 probability   0.647279   1.910337  0.359932  ...  1.798336  0.072124  3.793381

[12 rows x 10 columns]